/**
 *
 * Main file
 *
 * ---------------------
 * # Settings
 * # Tools
 * # Generic
 * # Base
 * # Objects
 * # Components
 * # Trumps
 * ---------------------
 */
/* --- Settings ------- */
/**
 * Variables file
 *
 * Preprocessor variables for latter use
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- some file --- */
/* --- Tools ---------- */
/**
 * Tools file
 *
 * Mixins and functions
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- some file --- */
/* --- Generic -------- */
/**
 * Generic file
 *
 * Third party CSS
 *
 * ---------------------
 * |--- Flex Grid
 * ---------------------
 */
/* --- Flex Grid --- */
/* --- Base ----------- */
/**
 * Base styles
 *
 * Element styles, no classes nor IDs.
 * Base typography & raw elements
 *
 * ---------------------
 * |--- Layout
 * ---------------------
 */
/* --- Layout --- */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

/* --- Objects -------- */
/**
 * Objects styles
 *
 * Object Oriented CSS
 * Layout driven, structural objects.
 *
 * ---------------------
 * |--- Header
 * |--- Counter
 * |--- Progress
 * |--- Controls
 * |--- Personal
 * |--- Votes
 * ---------------------
 */
/* --- Header --- */
.header {
  height: 85px;
  width: 100vw;
  background-color: lightgray;
  padding: 5px 10px; }

/* --- Counter --- */
.counter {
  text-align: center;
  padding: 20px 10px;
  font-size: 62px; }

/* --- Progress --- */
.progress-section {
  padding: 10px; }

.progress-bar {
  min-width: 3em; }

/* --- Controls --- */
.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 10px; }
  .controls button {
    margin: 5px; }

/* --- Personal --- */
.personal {
  padding: 10px; }

/* --- Votes --- */
.vote-item .selected {
  border: 2px solid black;
  background-color: lightgray; }

/* --- Components ----- */
/**
 * Components styles
 *
 * Cosmetic layer
 * Specific instructions.
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- some file --- */
/* --- Trumps --------- */
/**
 * Trumps styles
 *
 * Override other styles, text alignment classes
 * Only place were !important is allowed.
 *
 * ---------------------
 * |--- Some File
 * ---------------------
 */
/* --- Some file --- */
